# Default ignored files
/../../../../Důležité dokumenty/Side job/frystatska-galerie/.idea/shelf/
/../../../../Důležité dokumenty/Side job/frystatska-galerie/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Důležité dokumenty/Side job/frystatska-galerie/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Důležité dokumenty/Side job/frystatska-galerie/.idea/dataSources/
/../../../../Důležité dokumenty/Side job/frystatska-galerie/.idea/dataSources.local.xml
